<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lucky Stars Android Application- Functional Test Suite">


<test name="setup">
    <classes>
      <class name="luckystars.setup"/>
    </classes>
  </test> 
  
  <test name="TC0001_Signin_success">
    <classes>
      <class name="luckystars.TC0001_Signin_success"/>
    </classes>
  </test> 
  
  <test name="TC0002_signin_profile_pic_edit">
    <classes>
      <class name="luckystars.TC0002_signin_profile_pic_edit"/>
    </classes>
  </test> 
  
  <test name="TC0003_signin_profile_firstname_edit">
    <classes>
      <class name="luckystars.TC0003_signin_profile_firstname_edit"/>
    </classes>
  </test> 

    
</suite> 

